#unidades {
   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
   
}  

#localizacao {
    
    width: 50%;
    height: 98vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
} 

#img {
    width:50% ;
    height:100% ;
    margin-bottom: 10%;
    margin: 10%;
    
}
 
#sesi {
    width: 100%;
    height: 50%;
    text-align: center;
    
}

#senai {
    width: 100%;
    height: 50%;
    text-align: center;
    
}

.uni {
    width: 90%;
    height: 30%;
   text-align: center;
    
   
}

.bb {
    width: 30%;
    height: 200vh;
    
}

.aa {
    width: 90%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    justify-content: space-between;
   margin: 5%;
    border: 5px solid #da572fe1 ;
    border-radius: 10%;
    margin-right: 5%;
    
}

#nn {
    
    font-weight: 600;
    line-height: 200%;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

}

.endereco {
    font-size: var(--t-18);
    font-family: var(--font-family-poppins);
    font-weight: 400;
    line-height: 150%;
}
    
.senai {
    font-size: var(--t-18);
    font-family: var(--font-family-poppins);
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.ggg {
   
    width: 100%;
    height: 40%;
    margin: 5%;
    margin-left: 10%;
}

{}